body{
    background-color: #eeeeee;

    font-family: 'Roboto', sans-serif;
}
header{
    height: 92px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    background-color:#CF2B2B;
}
header h1{
    font-family: 'Righteous', cursive;
    font-size: 44px;
    font-weight:400;
    color: #ffffff;
}
header h3{
    font-size: 18px;
    color: #ffffff;
    font-weight:400;
}
section h2{
    font-family: 'Righteous', cursive;
    font-size:26px;
    font-weight:400;
    color: #333333;
    margin-top: 30px;
    margin-bottom: 16px;
    margin-left: 20px;
}
.food-options{
    /* width: 100%; */
    display: flex;
    /* flex-direction: row; */
    padding: 0 20px;
    /* box-sizing: border-box; */
    overflow-x: scroll;
    scrollbar-width: none;
}
.food-option{
    height: 215px;
    min-width: 172px;

    border: 5px solid #ffffff;
    padding: 15px 14px;
    box-sizing: border-box;
    margin-right: 15px;

    background-color: #ffffff;
    border-radius: 9px;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.option-food-selected{
    border: 5px solid #32B72F;
}
.option-drink-selected{
    border: 5px solid #32B72F;
}
.option-dessert-selected{
    border: 5px solid #32B72F;
}
.option-contents{
    height: 185px;
    width: 144px;
    position: absolute;
    bottom: 13px;
    left: 10px;
}
.food-option img {
    height: 87px;
    width: 100%;
    border-radius: 4px;
}
.food-option .food-info{
    height: 95px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow:hidden;
}
.food-info h3{
    font-size: 16px;
    font-weight: 700;
    color: #333333;
}
.food-info p{
    font-size: 15px;
    font-weight: 300;
    color: #a6a6a6;
}
.food-info p:nth-child(3){
    font-size: 16px;
    font-weight: 400;
    color: #000000;
}
.food-option ion-icon{
    position: absolute;
    right: 6px;
    bottom: 9px;
    color: #24ac7d;
    display: none;
}
main{
    padding-bottom: 120px;
}
.bottom-bar{
    height: 90px;
    width: 100%;
    background-color: #ffffff;

    display: flex;
    justify-content: center;
    align-items: center;
    
    position: fixed;
    bottom: 0;
    z-index: 2;
}
.bottom-bar button{
    height: 60px;
    width: 90%;
    border-radius: 50px;
    border-style: none;
    color: #cbcbcb;

    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
}
.background-confirm-order{
    height: 100%;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.9);;
    position: fixed;
    top: 0;
    z-index: 3;

    display: none;
}
.infos-to-confirm-order{
    width: 90%;
    height: 50%;
    background-color: #50D074;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    top: 40%;
    right: 5%;

    padding: 15px;
    box-sizing: border-box;
}
.infos-to-confirm-order p{
    font-weight: 700;
    font-size: 22px;
    color: #FFFFFF;
    margin-bottom: 10px;
}
.button-confirm-order{
    width: 80%;
    height: 52px;
    background-color: #ffffff;
    color: #50D074;
    font-size: 22px;
    font-weight: 700;
    margin-top: 15px;
    border-style: none;
    border-radius: 50px;
}
.button-cancel-order{
    background-color: #50D074;
    color: #FFFFFF;
    font-size: 22px;
    font-weight: 700;
    margin-top: 15px;
    border-style: none;
    border-radius: 50px;
}
.infos-order{
    width: 95%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.order-form{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.infos-order p{
    font-weight: 400;
    font-size: 22px;
    color: #FFFFFF;
}
